BODY
{
	background-color: #D7E4F2;
	margin: 10px 20px;
	font-family: verdana;
	font-size: 9pt;
}
#bottomButtonRow
{
	display: inline-block;
	width: 100%;
}
TD
{
	width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#personIcon
{
	margin-right: 21px;
	margin-top: 11px;
}
.dialogButton
{
	font-family: Verdana;
	width: 82px;
}
.serverChooser
{
	width: 268px;
}
#bottomRightButtonCluster
{
	text-align: right;
}
#userName
{
	width: 205px;
}
TD.label
{
	text-align: right;
	padding-right: 5px;
}
DIV.ch
{
	padding-top: 0.2in;
}
td.fullWidth {
	width: 100%;
}
