#settingsProtectionButton
{
	background-color: transparent;
	background-image: url('lockOpen48x48.png');
	background-repeat: no-repeat;
	padding-left: 50px;
	height: 48px;
	border: 1px none #000000;
}