BODY
{
	background-color:#d7e4f2;
	margin: 10px 20px;
}
BUTTON IMG
{
	vertical-align: middle;
}
BUTTON
{
	line-height: 42px;
	font-family: Verdana;
	width: 175px;
	text-align: left;
}
INPUT
{
	width: 100%;
}

td.label {text-align: right; padding-right:5px}
div.ch {padding-top: 0.2in}